
.oculto {
  display: none;
}

body {
  background-color: #F8D6F0;
  text-align: center;
  margin: 280px;

}

#titulo1 {
  color: #68415e ;
  -webkit-text-stroke: 1px #270c20;
  background-color: #BB8AAF ;
  font-size: 300%;
  font-family: "Homer Simpson UI";
}
  

input {
  width:350px;
  border: #482940 2px solid;
  font-size: 100%;
  font-family: monospace;
  border-radius: 4px;
  font-size: 18px;
  width: 600px;
  height: 25px;
  display: block;
  background: #ffd7f6;
  margin:  0 auto;


}



button {
  background: #FEDDF6 ;
  margin: 9px;
  border: 2px solid #3a2134;
  border-radius: 4px;
  width: 200px;
  height: 25px;
}

#siguiente1:hover {
  background-color: #d8aece;
  color: #270c20;

  
}

#siguiente2:hover {
  background-color: #d8aece;
  color: #270c20;
}

#siguiente3:hover {
  background-color: #d8aece;
  color: #270c20;
}
.formularioTarjeta {
  background-image: url("img/huella.png");
  background-size: 95px 95px;
  margin: 0px;
  
}

#pagina2 {
  border: 80px solid;
  border-image: url("img/huella.png") repeat;
}


  




